giray_svard_hpca24.pptx filter=lfs diff=lfs merge=lfs -text
~$giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_huawei_cambridge_11mar2024.pptx filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_arm_cambridge_13mar2024.pptx filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights.pptx filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_huawei_cambridge_11mar2024.pptx filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_uni_glasgow_7mar2024.pptx filter=lfs diff=lfs merge=lfs -text
giray-research_summary_and_future_directions-2024_07_09.pptx filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_microsoft_cambridge_13mar2024.pptx filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_1-1_29Mar2024.pptx filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_university-of-cambridge_14mar2024.pptx filter=lfs diff=lfs merge=lfs -text
~$giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_1-1_29Mar2024.pptx filter=lfs diff=lfs merge=lfs -text
~$giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_university-of-cambridge_14mar2024.pptx filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_kings-college_london_12mar2024.pptx filter=lfs diff=lfs merge=lfs -text
giray-research_talk-cispa-2025_03_25.pptx filter=lfs diff=lfs merge=lfs -text
giray-research_talk-cispa-2025_03_25.pdf filter=lfs diff=lfs merge=lfs -text
RowHammerUnderReducedWordlineVoltage_dsn22-lightningtalk.pptx filter=lfs diff=lfs merge=lfs -text
giray-defense_summary-vts-2025_04_29-short_backup.pptx filter=lfs diff=lfs merge=lfs -text
micro23_phd_forum_lightning_talk_submission12_yaglikci.pptx filter=lfs diff=lfs merge=lfs -text
micro23_phd_forum.pptx filter=lfs diff=lfs merge=lfs -text
~$giray-research_summary-amd-241108.pptx filter=lfs diff=lfs merge=lfs -text
giray-research_summary-amd-241108.pptx filter=lfs diff=lfs merge=lfs -text
micro23_phd_forum_high_level.pptx filter=lfs diff=lfs merge=lfs -text
SWISSJRCProjectUpdate_SAFARI_v2.0.pptx filter=lfs diff=lfs merge=lfs -text
giray_safari_live_seminar_a_deeper_look_into_RowHammer.pptx filter=lfs diff=lfs merge=lfs -text
micro23_phd_forum_higher_level.pptx filter=lfs diff=lfs merge=lfs -text
SWISSJRCProjectUpdate_SAFARI_v1.0.pptx filter=lfs diff=lfs merge=lfs -text
yaglikci-dsn_wc_carter_dissertation_award_presentation-2025_06_26.pptx filter=lfs diff=lfs merge=lfs -text
giray_research_summary_enabling_efficient_read_disturbance_mitigations_by_understanding_the_vulnerability_of_modern_memory_chips.pptx filter=lfs diff=lfs merge=lfs -text
giray_safari_live_seminar_efficiently_and_scalably_mitigating_RowHammer.pptx filter=lfs diff=lfs merge=lfs -text
giray-research_summary_and_future_directions[[:space:]][Autosaved].pptx filter=lfs diff=lfs merge=lfs -text
giray-research_summary_and_future_directions.pptx filter=lfs diff=lfs merge=lfs -text
giray_safari_live_seminar_a_deeper_look_into_RowHammer.pdf filter=lfs diff=lfs merge=lfs -text
giray-research_summary-amd-241108.pdf filter=lfs diff=lfs merge=lfs -text
micro23_phd_forum_higher_level.pdf filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_huawei_cambridge_11mar2024.pdf filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_uni_glasgow_7mar2024.pdf filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights.pdf filter=lfs diff=lfs merge=lfs -text
micro23_phd_forum_lightning_talk.pdf filter=lfs diff=lfs merge=lfs -text
giray_research_summary_enabling_efficient_read_disturbance_mitigations_by_understanding_the_vulnerability_of_modern_memory_chips.pdf filter=lfs diff=lfs merge=lfs -text
giray_safari_live_seminar_efficiently_and_scalably_mitigating_RowHammer.pdf filter=lfs diff=lfs merge=lfs -text
giray_svard_hpca24.pdf filter=lfs diff=lfs merge=lfs -text
giray-research_summary_and_future_directions-2024_07_09.pdf filter=lfs diff=lfs merge=lfs -text
giray-research_summary_and_future_directions.pdf filter=lfs diff=lfs merge=lfs -text
micro23_phd_forum_high_level.pdf filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_arm_cambridge_13mar2024.pdf filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_university-of-cambridge_14mar2024.pdf filter=lfs diff=lfs merge=lfs -text
giray-defense_summary-vts-2025_04_29-short_backup.pdf filter=lfs diff=lfs merge=lfs -text
giray_enabling-efficient-read-disturbance-mitigations-via-new-experimental-insights_microsoft_cambridge_13mar2024.pdf filter=lfs diff=lfs merge=lfs -text
micro23_phd_forum_lightning_talk_submission12_yaglikci.pdf filter=lfs diff=lfs merge=lfs -text
yaglikci-dsn_wc_carter_dissertation_award_presentation-2025_06_26.pdf filter=lfs diff=lfs merge=lfs -text
giray-enabling_secure_and_sustainable_system_scaling-UC_Berkeley-2025-08-05.pdf filter=lfs diff=lfs merge=lfs -text
giray-enabling_secure_and_sustainable_system_scaling-UC_Berkeley-2025-08-05.pptx filter=lfs diff=lfs merge=lfs -text
giray-mitigating_and_breaking_RowHammer_in_modern_DRAM_based_systems-2025-10-23.pdf filter=lfs diff=lfs merge=lfs -text
giray-mitigating_and_breaking_RowHammer_in_modern_DRAM_based_systems-2025-10-23.pptx filter=lfs diff=lfs merge=lfs -text
~$giray-mitigating_and_breaking_RowHammer_in_modern_DRAM_based_systems-2025-10-23.pptx filter=lfs diff=lfs merge=lfs -text
